@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 14px;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
 
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body{
	overflow-x: hidden;
    position: relative;
} 
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
    outline: 0!important;    
	font-family: 'Open Sans', sans-serif;
}

a{
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;	
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	font-size: 0;
	position: relative;
}



.toggle-menu  {
	position: absolute;
	height: 16px;
	width: 22px;
	top: 0;
	right: 20px;
	margin: auto;
	cursor: pointer;
	display: none;
	bottom: 0;
 
}

.toggle-menu .bar {
	height: 2px;
	border-radius: 100px;
	background-color: #404149;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.toggle-menu .bar2{
	top: 6px;
}
.toggle-menu .bar3{
	top: 12px;
}
.toggle-menu.active .bar1{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 7px;
}
.toggle-menu.active .bar2{
	opacity: 0;
}
.toggle-menu.active .bar3{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 7px;
}	


.site-header {
	position: relative;
	padding:5px 0 10px;
}
.site-header .container {
	font-size: 0;
	position: relative;
}
.site-header .container .right {
	font-size: 0;
}
.site-header .container .nav {
	font-size: 0;
	display: inline-block;
	width: 73%;
	vertical-align: middle;
}
.site-header .nav li {
	display: inline-block;
	margin-right: 20px;
}
.site-header .nav li:last-child {
	margin-right: 0;
}
.site-header .nav li a {
	font-size: 14px;
	font-weight: 600;
	color: #787a86;	
	text-transform: uppercase;
	display: inline-block;
	line-height: 16px;
}
.site-header .nav .active {
	color: #404149;
	border-bottom: 1px solid #404149;
}
.site-header  .left {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
	font-size: 0;
}
.site-header .container > .right{
	display: inline-block;
	vertical-align: middle;
	width: 70%;	
}
.site-header .logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.site-header .logo img {
	max-width: 184px;
}
.site-header .service-toggle{
	position: relative;
	top: -1px;
}
.site-header .s-toggle,
.site-header .service-toggle {
	display: inline-block;
	vertical-align: middle;
}
.site-header .s-toggle .bar {
	width: 16px;
	height: 3px;
	background:  #404149;	
	display: block;
}
.site-header .s-toggle .bar2 {
	background: #ffb800;
	margin: 2px 0;
}
.site-header .service-toggle  >span {
	font-size: 14px;
	font-weight: 600;
	color: #787a86;	
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}
.site-header .contact-header {
	display: inline-block;
	width: 27%;
	vertical-align: middle;	
}
.contact-header {
	font-size: 0;
	text-align: right;
}
.contact-header .search-t {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.contact-header .wrap {
	display: inline-block;
	vertical-align: middle;	
	max-width: 140px;
}
.contact-header .phone {
	font-size: 14px;
	color: #000000;
}
.contact-header b {
	font-size: 14px;
	color: #000000;
	font-weight: 600;
}
.contact-header .callback,
.footer .callback{
	font-size: 14px;
	color: #4a4a4a;
	border-bottom: 1px dotted #4a4a4a;
}
.site-header .form-search{
	position: absolute;
	left: 15px;
	right: 15px;
	background: #fff;
	padding: 13px 14px;
	box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.4);	
	-webkit-box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.4);	
	display: none;
	z-index: 10;
	top: 100%;
	font-size: 0;
}
.form-search input[type=text] {
	background-color: rgb(245, 245, 245);
	width: calc(100% - 55px);
	height: 46px;
	border: 0;
	padding: 0 17px;
	font-style: italic;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
}
.form-search input[type=submit] {
	display: inline-block;
	vertical-align: top; 
	width: 55px;
	height: 46px;	
	font-size: 0;
	border: 0;
	background:#ffb800  url(../img/search.svg) center no-repeat;
}

.service-menu {
	font-size: 0;
	background: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 110;
	box-shadow: 0px 8px 9px  rgba(0, 0, 0, 0.2);	
	-webkit-box-shadow: 0px 8px 9px   rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
}
.service-menu .container{
	max-width: 1170px;
}
.service-menu .item {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
.service-menu .item:first-child {
	width: 41%;
}
.service-menu .item  {
	width:  29%;
}
.service-menu .item:first-child ul{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 25px;
}
.service-menu .item ul{
	padding-right: 20px;
}
.service-menu h3 {
	font-size: 24px;
	font-weight: 600;
	color: #4a4a4a;	
	margin: 0 0 10px;
}
.service-menu a:hover {
	color: #404149;
	text-decoration: underline;
}
.service-menu ul li {
	margin: 0 0 15px;
}
.service-menu ul a {
	font-size: 16px;
	color: #787a86;	
}
.mob-nav{
	max-width:    299px;
	background-color: #ffffff;
	box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.3);
	z-index: 200;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	display: none;
}
.mob-nav .nav {
	padding: 57px 0 0 11px;
	margin-bottom: 50px;
}
.mob-nav ul.nav li {
	padding: 0;
	display: block;
	text-align: right;
	padding: 10px 8px!important;
	margin: 0;
	border-top: solid 1px #f2f3f5;	
}
.mob-nav .nav li:last-child {
	border-bottom: solid 1px #f2f3f5;	
}
.mob-nav .nav li a {
	text-transform: inherit;
	border: 0!important;
	text-decoration: none!important;
	color: #787a86!important;
	font-weight: 400;
}
.mob-nav .bottom {
	padding: 0 8px 0 14px;
}
.mob-nav .callback {
	font-size: 14px;
	color: #4a4a4a;
	border-bottom: 1px dotted #4a4a4a;
	display: inline-block;
}
.mob-nav .right {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	float: right;
	text-align: right;
}
.mob-nav .tel {
	height: 30px;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #ffb700, #ff8b00);
	max-width: 110px;
	display: block;
	margin: 0 0 5px auto;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;	
}
.mob-nav p {
	font-size: 8px;
	line-height:10px;	
	max-width: 100px;
	margin:0 0 20px auto;
	color: rgba(74, 74, 74, 0.85);
	font-weight: 400;
}

.wrap-m-slider {
	position: relative;
	margin:  0 0 40px;
}
.wrap-m-slider .container {
	max-width: 1075px;
}
.controlls {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 1130px;
	top: 0;
	bottom: 0;
	height: 1px;
	margin: auto;
 
}
.controlls > div{
	width: 20px;
	height: 43px; 
	background: url(../img/main-prev.svg) center left;
	position: absolute;
	left: 0;
	top: -22px;
	z-index: 100;
	cursor: pointer;
}
.controlls .next {
	background: url(../img/main-next.svg) center right;	
	left: auto;
	right: 0;
}
.main-slider .slide {
	padding-top: 60px;
	background-size: cover;
	background-position: center;
	position: relative;
}
.main-slider .slide:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-image: radial-gradient(circle at 51% 50%, rgba(51, 25, 9, 0.38), rgba(0, 0, 0, 0.61));
	background-blend-mode: multiply;
	z-index: 10;
}
.main-slider .info {
	position: relative;
	z-index: 15;
}
.main-slider h1 {
	font-size: 36px;
	font-weight: 600;
	color: #f6f6f6;
	max-width: 450px;
	margin: 0 0 7px;
}
.main-slider p {
	font-size: 14px;
	color: #ffffff;	
	max-width: 610px;
	margin: 0 0 80px;
}
.main-slider a {
	width: 269px;
	height: 59px;
	object-fit: contain;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #ffb700, #ff8b00);
	background-image: -webkit-linear-gradient(to bottom, #ffb700, #ff8b00);
	box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.37);
	display: block;
	text-align: center;
	line-height: 59px;
	margin: 0 0 130px;
	font-size: 20px;
	font-weight: 600;
	color: #404149;	
}
.main-slider a:hover{
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.37);	
	-webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.37);	
}
.main-slider .slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	font-size: 0;
	text-align: center;
}
.main-slider .slick-dots li{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: solid 1px #404149;	
	font-size: 0;
	margin: 0 5px;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	cursor: pointer;
}
.main-slider .slick-dots button{
	border: 0;
}
.main-slider .slick-dots .slick-active{
	background-color: #404149;	
}

.footer {
	background: #3d3f48;
	padding: 15px 0 20px
}
.footer .container {
	font-size: 0;
}
.footer .logo {
	display: inline-block;
	vertical-align: middle;
	width: 23%;
	padding-right: 15px;
}
.footer img {
	max-width: 100%;
}
.footer .center {
	display: inline-block;
	vertical-align: middle;	
	width: 62%;
}
.footer .nav {
	font-size: 0;
	padding-top: 8px;
}
.footer li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}
.footer li a {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #f6f6f6;	
	display: block;
	border-bottom: 1px solid transparent
}
.footer a.active,
.footer li a:hover {
	color: #ffb800;
	border-bottom: 1px solid #ffb800;
}
.footer .contact-f {
	display: inline-block;
	vertical-align: middle;	
	width: 15%;
	text-align: right;
}
.footer .callback {
	display: none;
}
.footer .phone {
	font-size: 14px;
	color: #f6f6f6;	
	margin: 0 0 8px;
	display: inline-block;
}
.footer b {
	font-weight: 600;
}
.footer p {
	font-size: 13px;
	color: #f6f6f6;
	line-height: 16px;
}
 

 
.about h2 {
	font-size: 36px;
	font-weight: 600;
	color: #404149;
	text-align: center;
	margin:  0 0 18px;
}
.about p {
	max-width:  760px;
	object-fit: contain;
	margin:0 auto 18px;
	font-size: 14px;
	line-height: 1.57;
	text-align: center;
	color: #404149;	
	
}
.about .detail {
	font-size: 18px;
	text-align: center;
	color: #9b9b9b;	
	display: table;
	margin:0 auto 27px;
	text-decoration: underline;
}
.about-item {
	background: #f2f3f5;
	padding: 50px 0;
 
}
.about-item .container {
	font-size: 0;
	max-width: 820px;
}
.about-item .item {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0 12px;
	margin: 0 0 35px;
}
.about-item .icon {
	height: 80px;	
	display: block;
	margin:0 auto 40px;
	line-height: 80px;
	text-align: center;
}
.about-item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	margin: auto;
}
.about-item h5 {
 	font-size: 18px;
	color: #4a4a4a;
	text-align: center;
}
.type-work {
	padding-top: 50px;
}
.type-work h2 {
	font-size: 36px;
	font-weight: 600;
	color: #404149;
	text-align: center;
	margin:  0 0 60px;	
}
.type-work .wrap {
	font-size: 0;
}
.type-work li {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0 0 100px;
}
.type-work a:hover .text{
	color: #ffb800;
	text-decoration: underline;
}
.type-work .icon {
	height: 75px;
	line-height: 75px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.type-work img {
	max-width: 100px;
	max-height: 70px;
	display: inline-block;
	vertical-align: middle;
}
.type-work .text {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #404149;
	display: block;
	max-width: 160px;
	margin: auto;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

.partner {
	background: #3d3f48;
	padding: 20px 0 55px;
}
.partner .container {
	max-width: 1240px;
}
.partner h2 {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: #ffb800;	
	margin:0 0 35px;
}
.partner .p-slider {
	position: relative;
	padding: 0 15px;
}
.partner .slide {
	text-align: center;
}
.partner .icon {
	display: block;
	height: 110px;
	line-height: 110px;
	margin: 0 0 5px;
}
.partner img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.partner h5 {
	font-size: 18px;
	text-align: center;
	color: #f6f6f6;	
	font-weight: 400;
}

.partner .slick-arrow {
	width: 20px;
    height: 43px;
    background: url(../img/main-prev.svg) center left;
    position: absolute;
    left: 0;
    top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
	font-size: 0;
	border: 0;
}
.partner .slick-next{
	background: url(../img/main-next.svg) center right;
    left: auto;
    right: 0;	
} 

.wrap-col {
	background: #f2f3f5;
	padding: 77px 0 40px;
}
.wrap-col .container {
	font-size: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;	
}
.wrap-col .news {
	width: 274px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px 0 rgba(64, 65, 73, 0.3);	
	padding: 20px;
}
.wrap-col .news p{
	font-size: 12px;
	line-height: 1.42;
	text-align: left;
	color: #5d5e68;	
}
.wrap-col  h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	color: #404149;	
	margin: 0 0 10px;
}
.wrap-col .news .item {
	margin: 0 0 10px;
}
.wrap-col  .all {
  font-size: 14px;
  text-align: left;
  color: #5d5e68;
	text-decoration: underline;
}
.wrap-col .date {
	font-size: 10px;
	color: #9b9b9b;	
}
.wrap-col .title {
	font-size: 18px;
	font-weight: 600;
	color: #404149;	
	text-decoration: underline;
	display: inline-block;
	margin: 0 0 5px; 
}
.wrap-col .gallery {
	width: calc(100% - 300px);
	padding: 20px;

	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px 0 rgba(64, 65, 73, 0.3);	
}
.wrap-col .gallery .wr-list {
	font-size: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;	
}
.wrap-col .gallery .item {
	display: inline-block;
	vertical-align: top;
	width: 32%;
}
.wrap-col .gallery p {
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #5d5e68;	
}
.wrap-col .top {
	position: relative;
	padding: 0 0 5px;
}
.wrap-col .top .all {
	position: absolute;
	right: 0;
	top: 0;
}
.wrap-col .image {
	height: 180px;
	border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #404149;
	background-size: cover;
	background-position: center;
	position: relative;
	margin:0 0 12px;
}
.wrap-col .image  a {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(64, 65, 73, 0.4);	
	opacity: 0;
}
.wrap-col .image:hover  a {
	opacity: 1;
}
.wrap-col .image span {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-size: 18px;
	font-weight: 600;
	color: #f6f6f6;	
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.wrap-col .image:hover span{
	top: 50%;
}
.wrap-col h5 {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 10px;
	color: #404149;	
}

.review-s {
	background: #f2f3f5;
	padding: 0px 0 70px;	
}
.review-s .container {
	font-size: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;	
}
.review-s .col {
	display: inline-block;
	width: 49%;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px 0 rgba(64, 65, 73, 0.3);	
	padding: 20px;
}
.review-s .col >p {
	font-size: 13px;
	line-height: 1.38;
	color: #5d5e68;
	padding-top: 5px;
	max-width: 450px;
}
.review-s .top {
    position: relative;
    padding: 0 0 5px;	
}
.review-s h4 {
	font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    color: #404149;
    margin: 0 0 10px;	
}
.review-s .all {
    font-size: 14px;
    text-align: left;
    color: #5d5e68;
    text-decoration: underline;	
    position: absolute;
    right: 0;
    top: 0;	
}
.review-s .wrap-list {
	font-size: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;	
}
.review-s .wrap-list .item {
    display: inline-block;
    vertical-align: top;
    width: 32%;	
}
.review-s .wrap-list .image {
    height: 180px;
    border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #404149;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 0 12px;	
}
.review-s .wrap-list a {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(64, 65, 73, 0.4);
    opacity: 0;	
}
.review-s .wrap-list a:hover {
	opacity: 1;	
}
.review-s .wrap-list a:hover span {
	top: 50%;
}
.review-s .wrap-list span {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    color: #f6f6f6;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;	
}
.review-s .wrap-list p {
	font-size: 13px;
	line-height: 1.38;
	color: #5d5e68;
}
.review-s h5 {
	font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #404149;	
}

.site-header.border{
	border-bottom: 1px solid #979797;
	padding-bottom: 5px;
	margin: 0 0 9px;
}


.nav-page {
	margin: 0 0 15px;
}
.nav-page .container {
	max-width: 1170px;
}
.nav-page ul {
	font-size: 0;
}
.nav-page li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 14px;
}
.nav-page li:first-child {
	padding-left: 0;
}
.nav-page li:first-child:after {
	content: none;
}
.nav-page li:after {
	position: absolute;
	content: ">";
	left: 3px;
	top: 1px;
	font-size: 13px;
	color: #787a86;		
}
.nav-page a {
	font-size: 13px;
	color: #787a86;	
}

.grocery {
	padding-bottom: 40px;
}
.grocery .container {
	max-width: 1170px;
}
.grocery .container > p {
  max-width:  957px;
  font-size: 14px;
  line-height: 1.43;
  color: #787a86;
  -webkit-text-stroke: .4px #979797;	
	margin: 0 0 40px;
}
.grocery h2 {
	font-size: 36px;
	font-weight: 600;
	color: #404149;	
	margin: 0 0 50px;
}
.grocery h4 {
	max-width:  977px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	color: #404149;
	margin: 0 0 14px;
}
.grocery .action-g {
	font-size: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.grocery .action-l {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: dashed 3px #d0021b;	
	padding: 80px 15px 0;
	text-align: center;
	max-width: calc(100% - 360px);
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	position: relative;
	margin-bottom: 20px;
}
.grocery .action-l span {
	font-size: 40px;
	font-weight: 600;
	line-height: 0.63;
	text-align: left;
	color: #ffb800;	
	margin: 0 0 15px;
}
.grocery .action-l p {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.39;
	color: #404149;	
	margin: 0 0 55px;
}
.grocery .action-l p span {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.39;
	color: #ffb800;	
	display: block;
	text-align: center;
	margin: 0;
}
.grocery h6 {
	font-size: 14px;
	text-align: center;
	color: #787a86;	
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
}
.grocery .action-r {
	max-width: 320px;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	background-color: #f6f6f6;
	box-shadow: 0 10px 15px 0 rgba(64, 65, 73, 0.3), 0 0 15px 0 rgba(64, 65, 73, 0.3);	
	width: 100%;
	margin-bottom: 20px;	
}
.grocery form {
	padding: 12px 22px 6px;
}

form ::-webkit-input-placeholder {  color: #b4b5be;}
form ::-moz-placeholder {color: #b4b5be;}
form :-ms-input-placeholder {color: #b4b5be;}
form :-moz-placeholder {color: #b4b5be;}
.grocery form p {
	font-size: 14px;
	text-align: center;
	color: #000000;	
	max-width: 220px;
	font-weight: 600;
	margin:0 auto 8px; 
}
.grocery form input {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #404149;	
	height: 40px;
	width: 100%;
	margin: 0 0 10px;
	padding: 0 8px;
	font-size: 14px;
}
.grocery .form-group {
	font-size: 0;
}
.grocery textarea {
	width: 100%;
	height: 110px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #404149;	
	padding: 5px 10px;
	resize: none;
	margin: 0 0 8px;
	font-size: 14px;
}
.grocery .buttons {
	font-size: 0;
}
.grocery .file {
	height: 40px;
	border-radius: 5px;
	background-color: #b4b5be;
	border: solid 1px #404149;	
	display: inline-block;
	vertical-align: top;
	width: 48%;
	text-align: center;
	line-height: 36px;
	margin-right: 4%;
}
.grocery .file input {
	display: none;
}
.grocery .file span {
	font-size: 14px;
	font-weight: 600;
	line-height: 0.93;
	color: #f6f6f6;
	border-bottom: 1px dotted #fff;
}
.grocery  input[type=submit] {
	height: 40px;
	border-radius: 5px;
	background-color: #404149;
	border: solid 1px #c8c8c8;
	display: inline-block;
	width: 48%;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: #ffb800;	
}

.g-char {
	background: #f2f3f5;
	padding: 60px 0 30px;
	margin: 0 0 35px;
}
.g-char .container {
    font-size: 0;
    max-width: 920px;
}
.g-char .item {
	display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 12px;
    margin: 0 0 35px;	
}
.g-char .icon {
    height: 115px;
    display: block;
    margin: 0 auto 5px;
    line-height: 115px;
    text-align: center;
	font-size: 0;
}
.g-char img {
	max-width: 110px;
	vertical-align: middle;
	display: inline-block;
}
.g-char h5 {
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
	max-width: 140px;
	margin: auto;
}

.g-konsult {
	margin: 0 0 60px;
}
.g-konsult .container{
	max-width: 1170px;
}
.g-konsult p {
	font-size: 14px;
	line-height: 1.43;
	color: #4a4a4a;
	-webkit-text-stroke: .4px #979797;	
	margin: 0 0 30px;
}
.g-konsult .wrap {
	font-size: 0;
}
.g-konsult .item {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 25px;
}
.g-konsult .item:nth-child(3n) {
	margin-right: 0;
}
.g-konsult .image {
	height: 260px;
	object-fit: contain;
	border-radius: 5px;
	background-color: rgba(64, 65, 73, 0.4);
	border: solid 1px #404149;
	background-size: cover;
	background-position: center;
	margin: 0 0 10px;
	position: relative;
}
.g-konsult .image a{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.g-konsult .image span{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	opacity: 0;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.g-konsult .image:hover span{
	top: 50%;
	opacity: 1;
}
.g-konsult a.konsult {
	max-width: 272px;
	height: 40px;
	object-fit: contain;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #ffb700, #ff8b00);	
	background-image: -webkit-linear-gradient(to bottom, #ffb700, #ff8b00);	
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #404149;	
}
.g-konsult a.konsult:hover{
	background-image: linear-gradient(to top, #ffb700, #ff8b00);	
	background-image: -webkit-linear-gradient(to top, #ffb700, #ff8b00);	
}
.g-konsult h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	color: #404149;
	margin: 0 0 20px;
}
.g-konsult ul {
	margin: 0 0 29px;
}
.g-konsult ul li {
	font-size: 14px;
	line-height: 1.57;
	text-align: left;
	color: #787a86;
	padding-left: 25px;
	margin: 0 0 2px; 
	position: relative;
}
.g-konsult ul li:before {
	content: "";
	width: 3px;
	height: 3px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #787a86;
	position: absolute;
	left: 0;
	top: 9px;
}

.perform {
	padding-bottom: 15px;
}
.perform .container {
	max-width: 1170px;
}
.perform h2 {
	font-size: 36px;
	font-weight: 600;
	color: #000000;	
	margin: 0 0 40px;
}
.perform .wrap {
	font-size: 0;
}
.perform .item {
	display: inline-block;
	vertical-align: top;
	width: 16.66%;
	margin: 0 0 25px;
}
.perform .icon {
	width: 100px;
	height: 100px;
	border: solid 2px #979797;	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 15px;
	text-align: center;
	font-size: 0;
	line-height:65px;
	display: block;
	margin:0 auto 30px;
}
.perform img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
	display: inline-block;
}
.perform h5 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #404149;	
}


.info-accord {
	padding: 20px 0 55px;
}
.info-accord .container {
	max-width: 1170px;
}
.info-accord p {
	font-size: 14px;
	color: #787a86;
	margin: 0 0 15px;
}
.info-accord h2 {
	font-size: 36px;
	font-weight: 600;
	color: #404149;	
	margin: 0 0 10px;
}
.info-accord .item {
	margin-bottom: -1px;
}
.info-accord .top {
	height: 40px;
	border-radius: 5px;
	border: solid 1px #787a86;	
	display: table;
	width: 100%;
	cursor: pointer;
	position: relative;
}
.info-accord .top:after {
	width: 17px;
	height: 17px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border: solid 1px #ffb800;
	border-top: 0;
	border-left: 0;
	cursor: pointer;
	position: absolute;
	left: 14px;
	bottom: 15px;
	content: "";
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.info-accord .item.active .top:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	bottom: 7px;
}
.info-accord .top .left {
	display: table-cell;
	vertical-align: middle;
	padding-left: 48px;
	font-size: 18px;
	line-height: 1.39;
	color: #404149;	
}
.info-accord .info-block {
	padding: 15px 45px;
	position: relative;
	display: none;
}
.info-accord .info-block .arrow {
	width: 17px;
	height: 17px;
	transform: rotate(-135deg);
	border: solid 1px #ffb800;
	border-top: 0;
	border-left: 0;
	cursor: pointer;
	position: absolute;
	left: 10px;
	bottom: 27px;
}
.info-accord .info-block p {
	font-size: 14px;
	line-height: 1.57;
	color: #787a86;	
}
.info-accord .info-block h4 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.38;
	color: #404149;	
}
.info-accord .info-block ul {
	margin: 0 0 10px;
}
.info-accord .info-block li {
	font-size: 14px;
	line-height: 1.57;
	text-align: left;
	color: #787a86;	
}

.form-block {
	padding: 20px 0 15px;
	background-color: #404149;	
}
.form-block h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	color: #f6f6f6;	
	text-align: center;
	margin: 0 0 15px;
}
.form-block form {
	font-size: 0;
	text-align: center;
}
.form-block form input[type=submit] {
	width: 240px;
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: linear-gradient(to bottom, #ffb700, #ff8b00);	
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #404149;	
	border: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	margin-bottom: 10px;
}
.form-block .form-control {
	max-width: 273px;
	height: 50px;
	border-radius: 5px;
	background-color: #f6f6f6;
	width: 100%;padding: 0 10px;
	border: 0;
	font-size: 14px;
	margin: 0 10px 10px;
}

.etap-block {
	padding: 35px 0 20px;
	background: #f2f3f5;
}
.etap-block .container {
	font-size: 0;
}
.etap-block h2 {
  font-size: 36px;
  font-weight: 600;
  color: #404149;	
	margin: 0 0 40px;
}
.etap-block .wrap {
	max-width: 900px;
	font-size: 0;
	margin: auto;
}
.etap-block .item {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0 1.6% 60px;
	padding: 0 15px;
	position: relative;
}
.etap-block .icon:after {
	content: "";
	position: absolute;
	right: -55px;
	width: 65px;
	height: 12px;	
	background: url(../img/etap/arrow.svg) center no-repeat;
	top: 50%;
	transform: translateY(-50%);
	transform: translateY(-50%);
}
.etap-block .item:nth-child(3n) .icon:after {
	content: none;
}
.etap-block .icon {
	height: 100px;
	line-height: 100px;
	margin: 0 0 25px;
	text-align: center;
	position: relative;
}
.etap-block img {
	display: inline-block;
	vertical-align: middle;
}
.etap-block h5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	text-align: center;
	color: #404149;	
	max-width: 100%;
}


.works {
	padding: 45px 0 40px;
}
.works .container {
	
}
.works h2 {
	font-size: 36px;
	font-weight: 600;
	color: #000000;	
	margin: 0 0 45px;
}
.works .wrap {
	font-size: 0;
}
.works li {
	width: 24%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 5px 15px 0 rgba(64, 65, 73, 0.3);	
	margin-right: 1.33%;
	display: inline-block;
	vertical-align: top;
	padding: 16px 8px 40px;
	position: relative;
	margin-bottom: 25px;
}
.works li:nth-child(4n) {
	margin-right: 0;
}
.works p {
	font-size: 14px;
	text-align: left;
	color: #787a86;
	margin: 0 0 9px;
}
.works .image {
	height: 196px;
	object-fit: contain;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px #404149;	
	background-size: cover;
	margin: 0 0 12px;
}
.works .title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	color: #404149;	
	margin: 0 0 15px;
	display: inline-block;
}
.works .detail {
	font-size: 14px;
	color: #787a86;
	text-decoration: underline;
	position: absolute;
	left: 8px;
	bottom: 13px;
}
.works li:hover .title{
	text-decoration: underline;
}
.works li:hover .detail{
	color: #404149;
}
.works .more {
	font-size: 14px;
	text-align: center;
	color: #404149;	
	position: relative;
	display: table;
	margin:0 auto 20px;
}
.works .more:after {
	width: 17px;
	height: 17px;
	object-fit: contain;
	transform: rotate(-315deg);
	border: solid 2px #ffb800;
	content: "";
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	border-top: 0;
	border-left: 0;
}
.garanty-title {
	background: #404149;
	padding: 40px 15px 45px;
}
.garanty-title h2 {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: #ffb800;	
}
.reviews-all {
	padding: 30px 0 45px;
	background: #f2f3f5;
}
.reviews-all h2 {
	font-size: 36px;
	font-weight: 600;
	color: #404149;	
	margin: 0 0 50px;
}
.reviews-all .wrap {
	font-size: 0;
}
.reviews-all .item {
	display: inline-block;
	font-size: 0;
	width: 33.33%;
	margin: 0 0 25px;
}
.reviews-all .image {
	width: 173px;
	height: 224px;
	object-fit: contain;
	border-radius: 5px;
	background-color: rgba(255, 184, 0, 0.1);
	border: solid 1px #404149;
	position: relative;
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: top;
}
.reviews-all .image a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(64, 65, 73, 0.4);
    opacity: 0;	
}
.reviews-all .image:hover a {
	opacity: 1;
}
.reviews-all .image img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;	
}
.reviews-all .image:hover img{
	top: 50%;
}
.reviews-all .info {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 173px);
	padding: 0 20px;
}
.reviews-all .info h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.25;
	text-align: left;
	color: #404149;
	margin: 0 0 20px;
}
.reviews-all .info a {
	font-size: 14px;
	text-align: left;
	color: #787a86;	
}
.reviews-all .info a:hover{
	color: #404149;
	text-decoration: underline;
}
.reviews-all .all {
	font-size: 14px;
    text-align: center;
    color: #404149;
    position: relative;
    display: table;
    margin: 5px auto 20px;	
}

.reviews-all .all:after {
    width: 17px;
    height: 17px;
    object-fit: contain;
    transform: rotate(-315deg);
    border: solid 2px #ffb800;
    content: "";
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border-top: 0;
	border-left: 0;
}

.top-info-a {
	position: relative;
}
.top-info-a a {
	width: 240px;
	height: 50px;
	object-fit: contain;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #ffb700, #ff8b00);	
	position: absolute;
	right: 75px;
	top: 19px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #404149;	
	line-height: 50px;
}
.table-cost .title-r {
	background: #fff!important;
}
.table-cost .title-r .top:after  {
	content: none;
}
.table-cost .title-r .left,
.table-cost .title-r .right{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: #404149;	
}
.table-cost .item .right {
	border-left: 1px solid #787a86;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 390px;
}
.table-cost .item .info-block {
	padding-right: 11%;
}
.table-cost .item table {
	width: 100%
}
.table-cost .item td {
	padding: 4px 0;
}
.table-cost .item td:first-child {
	background: url(../img/line.png) center repeat-x;
	background-size:auto 1px ;
}
.table-cost .item td:nth-child(2) {
	width: 140px;
	text-align: center;
}
.table-cost .item span {
	font-size: 18px;
	line-height: 1.39;
	text-align: left;
	color: #404149;	
	display: inline-block;
	padding: 0 5px;
	background: #fff;
}


@media ( max-width:1200px ){
	.site-header .service-toggle >span{
		font-size: 0;
	}
	.wrap-m-slider .container{
		padding: 0 40px;
	}
	.controlls{
		left: 10px;
		right: 10px;
	}
	.site-header .left{
		width: 25%;
	}
	.site-header .logo{
		margin-right: 8px;
	}
	.site-header .nav li{
		margin-right: 15px;
	}
	.site-header .container > .right{
		width: 75%;
	}
	.footer li{
		margin: 0 10px;
	}
	.footer .logo{
		width: 20%;
	}
	.footer .center{
		width: 65%;
	}
	.reviews-all .info{
		width: 100%;
		padding: 15px 15px 0 0;
		text-align: center;
	}
 
}


@media ( max-width:992px ){
	.site-header .container .right{
		display: none;
	}
	.toggle-menu{
		display: block;
		z-index: 999;
/*		top: -10px;*/
	}
	.site-header .service-toggle,
	.footer .nav{
		display: none;
	}
	.footer .contact-f{
		width: 100%;
		text-align: center;
	}
	.footer .callback{
		display: table;
		color: #fff;
		border-color: #fff;
		margin:0 auto 40px;
	}
	.footer .logo{
		width: auto;position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: -10px;
	}
	.footer{
		padding: 35px 0 20px
	}
	.footer .container{
		padding-bottom: 80px;
	}
	.wrap-col .news{
		width: 100%;
		margin: 0 0 20px;
	}
	.wrap-col .gallery,
	.review-s .col{
		width: 100%;
	}
	.review-s .col{
		margin: 0 0 20px;
	}
	.review-s .col >p{
		max-width: 100%;
	}
	.grocery .action-l{
		max-width: 100%;
		width: 100%;
		margin: 0 0 20px;
	}
	.grocery .action-r{
		margin: 0 auto 20px;
	}
	.perform .item{
		width: 33.33%;
	}
	.works li{
		width: 48%;
		margin-right: 4%;
		display: none;
	}
	.works li:nth-child(2n){
		margin-right: 0;
	}
	.works li:nth-child(1),
	.works li:nth-child(2){
		display: inline-block;
	}	
 
}

@media ( max-width:768px ){
	.grocery h2,
	.grocery .action-l p,
	.grocery .action-l span,
	.perform h2,
	.info-accord h2,
	.etap-block h2,
	.works h2,
	.reviews-all h2,
	.garanty-title h2{
		font-size: 28px;
	}	
	.main-slider .slick-dots,
	.controlls > div{
		display: none!important;
	}
	.main-slider .slide{
		padding-top: 20px;
	}
	.wrap-m-slider .container {
		padding: 0 10px;
	}
	.main-slider a{
		margin: 0 auto 20px;
		width: 170px;
		height: 40px;
		line-height: 40px;
	}
	.main-slider h1{
		font-size: 26px;
	}
	.main-slider p{
		max-width: 100%;
		margin: 0 0 50px;
	}
	.about-item .item {
		width: 50%;
	}	
	.type-work li{
		width: 50%;
		margin: 0 0 35px;
	}
	.type-work h2{
		font-size: 25px;
	}
	.type-work .text{
		font-size: 13px;
		font-weight: 600;
	}
	.partner .slide{
		padding: 0 10px;
	}
	.form-block form input[type=submit]{
		margin-left: 0;
	}
	.g-char .item{
		width: 50%;
	}
	.g-konsult .item{
		width: 100%;
	}
	.form-block .form-control{
		max-width: 100%;
		margin: 0 0 10px;
	}
	.etap-block .icon:after{
		content: none;
	}
	.etap-block .item{
		margin: 0 0 35px;
		width: 50%;
	}
	.reviews-all .item{
		width: 100%;
		margin: 0 0 30px;
	}
	.reviews-all .image{
		margin: auto;
		display: table;
	}
	.reviews-all .info h4{
		text-align: center;
		margin:  0 0 10px;
	}
	.table-cost .item .right{
		width: 130px;
	}
	.table-cost .item.title-r .right,
	.table-cost .item.title-r  .left{
		font-size: 15px;
	}
	.table-cost .item .right{
		font-size: 12px;
	}
	.table-cost .item .left{
		font-size: 15px;
	}
	.table-cost .item .info-block{
		padding: 10px 0;
	}
	.table-cost .item span{
		font-size: 14px;
	}
	.top-info-a a{
		right: 0;
	}
}

@media ( max-width:480px ){
	.top-info-a a{
		position: static;
		display: block;
		margin: 0 0 20px;
	}
	.table-cost .item .left{
		padding: 5px 10px;
	}
	.table-cost .item .right{
		vertical-align: middle!important;
	}
	.table-cost .item   .top:after{
		content: none;
	}
	
	.wrap-m-slider{
		margin:  0 0 20px;
	}
	.about p{
		font-size: 12px;
	}
	.about .detail{
		font-size: 14px;
	}
	.about h2{
		font-size: 20px;
	}
	.partner .p-slider{
		padding: 0;	
	}
	.site-header .container{
		padding: 0;
	}
	.main-slider .slide{
		padding-top: 15px;
	}
	.wrap-m-slider .container {
		padding: 0 10px;
	}
 
	.main-slider h1{
		font-size: 22px;
	}
	.main-slider p{
		max-width: 100%;
		margin: 0 0 20px;
		font-size: 14px;
	}	
	.about-item {
		background: #f2f3f5;
		padding: 25px 0 10px;
	}	
	.about-item h5{
		font-size: 14px;
	}
	.about-item .icon {
		margin: 0 auto 15px;
	}
	.wrap-col .top,
	.review-s .top{
		position: static;
	}
	.wrap-col .news,
	.hidden-xs{
		display: none;
	}
	.review-s .col{
		position: relative;
	}
	.wrap-col .gallery .item,
	.review-s .col .item {
		display: none;
		width: 100%;
		padding-bottom: 35px;
 
	}
	.wrap-col .gallery .item:first-child,
	.review-s .col .item:first-child{
		display: block;
	}
	.wrap-col .top .all,
	.review-s .col .all{
		bottom: 15px;
		top: auto;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		display: inline-block;
		left: 50%;
		right: auto;
	}
/*
	.wrap-col .image,
	.review-s .col .image{
		position: static;
	}
*/
/*
	.wrap-col .image a,
	.review-s .image a{
		background-color: transparent;
		opacity: 1;
		bottom: 15px;
		top: auto;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		display: inline-block;
		left: 50%;
		right: auto;
	}
*/
/*
	.wrap-col .image a span,
	.review-s .image a span{
		transform: translate(0);
		-webkit-transform: translate(0);
		position: static;
		font-size: 18px;
		font-weight: 600;
		display: inline-block;
		color: #5d5e68;
		text-decoration: underline;
	}
*/
	.review-s .col:nth-child(2){
		padding-bottom: 50px;
	}
	.review-s .col:nth-child(2) .item{
		padding: 0;
	}
	.wrap-col {
		padding: 20px 0;
	}
	.review-s{
		padding: 0 0 20px;
	}
	.perform .item{
		width: 50%;
	}
	.etap-block .item{
		width: 100%;
	}
	.works li{
		width: 100%;
		margin: 0 0 25px;
	}
}